<h1>Attraction Index</h1>
<% if is_admin?(@current_user) %>
  <%= link_to "New Attraction", new_attraction_path %>
<% end %>
<%= render partial: 'attraction_link', collection: @attractions, as: :attraction %>